/* GENERAL */
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
  font-family: "Open Sans", sans-serif;
}

.container-card {
  display: flex;
  width: 50%;
  height: 400px;
  background: #000000;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 7px 20px;
  /* transition: transform 1s; */
  transition: filter, transform 1s; /* Implenmentando la "," puedo aplicar filter en el transition */
  filter: grayscale(0.8); /* Color tono gris */
}
.container-card:hover {
  transform: scale(1.1); /* El elemento pasa de 2D a 3D */
  filter: grayscale(0);
} /* Al pasar el mause por el card, la escala de color toma el color de la card */

.container-image {
  width: 130%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.container-description {
  flex-grow: 1;
  height: 100%;
  padding: 0 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-description-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 280px;
}

.container-info {
  display: flex;
  margin-top: 10px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.color-info {
  color: #848474;
  font-weight: 300;
  font-size: 14px;
  margin-right: 10px;
}

.summary {
  color: #c6c6c6;
}

span {
  background-color: #099939;
  font-size: 12px;
  border-radius: 100%;
  padding: 5px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button-trailer {
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  border: solid 1px #04648c;
  border-radius: 15px;
  background-color: #000000;
  color: #04648c;
}

.button-trailer:hover {
  background-color: #096e93;
  color: #c6c6c6;
  cursor: pointer;
}

.button-movie {
  background-color: #04648c;
  color: #c6c6c6;
  padding: 10px;
  border: none;
  border-radius: 15px;
  margin-right: 10px;
}

.button-movie:hover {
  background-color: #275158;
  cursor: pointer;
}
